.swiper-button-next {
  right: 45px;
  color: #ffba08;
}
.swiper-button-prev {
  left: 45px;
  color: #ffba08;
}
.swiper-pagination-bullet-active {
  background: #ffba08;
}

@media (max-width: 30em) {
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 1.2rem;
  }
}
